{% extends 'base.html.twig' %}

{% block title %}
    {% if current_route_name == 'tasks_mine' %}
        {% trans %}My Tasks{% endtrans %}
    {% else %}
        {% trans %}Tasks{% endtrans %}
    {% endif %}
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>{% if current_route_name == 'tasks_mine' %}
            {% trans %}My Tasks{% endtrans %}
        {% else %}
            {% trans %}Tasks{% endtrans %}
        {% endif %} ✅</h2>

    {{ include('includes/tasks-list.html.twig') }}
</div>
{% endblock %}
