{% extends 'base.html.twig' %}

{% block title %}Todos los usuarios{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h2>Todos los usuarios ✅</h2>

        {{ include('includes/user-list.html.twig') }}
    </div>
{% endblock %}
