{% extends 'base.html.twig' %}

{% block title %}{% trans %}User Login{% endtrans %}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>{% trans %}User Login{% endtrans %} ✅</h2>

    {% if error %}
        <div class="alert alert-error">
            {{ error.messagekey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email</label>
        <input type="email" name="_username" id="username" value="{{ last_username }}" />
        <label for="password">Password</label>
        <input type="password" name="_password" id="password" />
        <div class="clearfix" />
{#        <input type="submit" value="Login" />#}
        <button type="submit" id="login_submit" name="login[submit]">Login</button>
    </form>
</div>
{% endblock %}
