{% extends 'base.html.twig' %}

{% block title %}
    {% if current_route_name == 'user_edit' %}
        {% trans %}User Profile{% endtrans %}
    {% elseif current_route_name == 'user_password_change' %}
        {% trans %}Change User Password{% endtrans %}
    {% else %}
        {% trans %}User Registration{% endtrans %}
    {% endif %}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>
        {% if current_route_name == 'user_edit' %}
            {% trans %}User Profile{% endtrans %}
        {% elseif current_route_name == 'user_password_change' %}
            {% trans %}Change User Password{% endtrans %}
        {% else %}
            {% trans %}User Registration{% endtrans %}
        {% endif %}
        ✅</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
